/**
 * Custom Font Declarations
 * Self-hosted fonts for LCMDesigner
 */

/* Nasalization - Futuristic display font for headings */
@font-face {
  font-family: 'Nasalization';
  src: url('/fonts/Nasalization-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Use Nasalization for bold variants */
@font-face {
  font-family: 'Nasalization';
  src: url('/fonts/Nasalization-Regular.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nasalization';
  src: url('/fonts/Nasalization-Regular.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nasalization';
  src: url('/fonts/Nasalization-Regular.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
